<div class="container text-justify">
  <br>
  <div class="unlocked">
    <h1>Congratulations Explorer!</h1>
    <p><%= link_to @visit.lock.name, lock_path(@visit.lock) %> has now been unlocked and added to your collection!</p>
    <%= video_tag("lock_animation_3.mp4", controls: true, size: "320x240") %>
    <p></p>
    <h1>But wait... There's more</h1>
    <p>Here is an interesting fact about <%= @visit.lock.name %></p>
    <p>"<%= @visit.lock.special_content  %>"</p>
    <%= link_to 'Leave a Review', "#", :class => "btn btn-primary"%>
    <%= link_to 'Share a Photo?', "#", :class => "btn btn-primary"%>
  </div>
</div>
