<div class="desktop-container">
<title><%= @user.username %>'s Profile</title>
<div class="profile_banner">
        <%= cl_image_tag(@user.photo.key, class: "avatar") %>
        <h1><%= @user.username %>'s Profile Page</h1>
  </div>
<div class="mini_banner">
  <p class="mb-0">
  <div class="lvl d-flex justify-content-between">
      <p id="lvl_title"> <i class="fas fa-star"></i> <strong><%= @lvl %></strong></p>
      <p><i class="fas fa-unlock-alt"> </i> <strong><%= @user_visits.count %> </strong> Unlocked  </p>
  </div>
    <div class="bar">
      <div class="progress m-0" style="width: 100%">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress %>"></div>
      </div>
      <div id="lvl_bottom" class="lvl ms-auto mt-2">
      <p><%= @locks_left[0] %> more unlocks to
      <%= @locks_left[1] %></p>
    </div>
  </div>
</div>

<div class="container d-flex mt-3">
<br>
<div class="cards-home">
  <% @user_visits.each do |visit| %>
  <div class="card mb-0 bg-transparent border-0">
    <div class="section mb-1">
    <%= cl_image_tag(visit.lock.photo.key, class: "profile-locks") %>
    </div>
    <div class="section mb-0">
      <h6><%= link_to visit.lock.name, lock_path(visit.lock.id), :class => "stretched-link text-decoration-none mb-0" %></h6>
      <div id="calendar" class="position-absolute start-50 translate-middle-x mt-0 mb-0">
        <i class="fa-solid fa-calendar"></i>
      </div>
      <div class="position-absolute start-50 translate-middle-x day-month"> <p><strong><%= visit.unlocked_date.strftime "%d %^b" %></strong></p></div>
    </div>
  </div>
<% end %>
</div>
</div>
<br>
</div>
