<div class="profile_banner">
<br>
        <%= image_tag(@user.photo, class: "avatar") %>
        <h1><%= @user.username %>'s Profile Page</h1>
  </div>
<div class="mini_banner">
    <p><strong> <i class="fas fa-trophy"></i>  Total Unlocked: </strong> <%= @user_visits.count %> /
    <%= @locks.count %> </p>
</div>
<div class="container">
<br>
  <h1>Unlocked History!</h1>
<br>
<div class="cards">
  <% @user_visits.each do |visit| %>
  <div class="card mb-3">
    <div class="section">
    <%= image_tag(visit.lock.photo, class: "avatar") %>
    </div>
    <div class="section">
      <h2><%= link_to visit.lock.name, lock_path(visit.lock.id) %></h2>
      <p> <%= visit.unlocked_date %></p>
    </div>
  </div>
<% end %>
</div>
