<title>Suggest a New Lock</title>
<div class="desktop-container">
<div class="new-lock-container">
  <h1>Want to suggest a lock?</h1>
  <br>
  <p>Do you know a great location that should be on this app? Please let us know!</p>
  <br>
    <div class="form">
      <%= simple_form_for @lock do |f| %>
      <div class="form_wrapper">
        <div class="form_div">
          <%= f.input :name  %>
          <%= f.input :description %>
          <%= f.input :address  %>
          <%= f.input :photo, as: :file,  label: "Link to picture" %>
          <%= f.input :special_content  %>
          <%= f.button :submit, :class => "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>
</div>
<br>
</div>
