<!DOCTYPE html>
<html>
  <head>


    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <%= render 'shared/ios_pwa_links' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:url" content="https://www.unlocked.melbourne/" />
    <meta property="og:title" content="Melbourne Unlocked" />
    <meta property="og:description" content="Explore Melbourne in the most rewarding way!" />
    <meta property="og:image" content=../app/assets/images/Graph-Photo.png />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= yield %>
  <footer class="footer">
  <div style="height: 70px;"></div>
  <%= render 'shared/bottom_navbar' %>
  </footer>
  </body>

</html>
